.m-delete-button {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-s);

  &:focus {
    outline: none;
  }

  & > .m-icon {
    position: relative;
    top: -1px;
    overflow: visible;
  }

  & > span {
    position: absolute;
    top: 50%;
    left: 24px;
    text-transform: uppercase;
    transform: translateY(-50%);
    opacity: 0;
    white-space: nowrap;
  }
}
